[Unit]
Description=procsnitchd
After=tor.service

[Service]
Type=simple
ExecStartPre=/usr/bin/install -g procsnitch -d /var/run/procsnitchd
ExecStart=/usr/bin/procsnitchd -socket /var/run/procsnitchd/rpc.socket -group procsnitch

[Install]
WantedBy=multi-user.target
